# Windows
[Dd]esktop.ini
Thumbs.db
project.private.config.json
$RECYCLE.BIN/
project.private.config.json
project.config.json

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
project.private.config.json
project.private.config.json
project.config.json
